################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DA_Management_Endpoint/obj
/DA_Management_Endpoint/bin/Debug/net7.0
